name: GitHub Stats
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filename: github-metrics.svg
          user: mohak75
          
          # Choose a template
          template: classic
          # Or try: terminal, classic, repository, ocean, etc.
          
          # Color scheme
          config_timezone: UTC
          config_theme: dark
          # Options: light, dark, github-dark, dracula, monokai, etc.
          
          # What to include
          base: header, activity, community, repositories, metadata
          
          # Enable cool plugins
          plugin_lines: yes
          plugin_followup: yes
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_threshold: 0%
          plugin_stars: yes
          plugin_stars_limit: 3
